img {
    max-height: 500px;
    vertical-align: middle;
}
.imgCap {
    font-style: italic;
    color: cadetblue;
}

.headerCap {

    color: skyblue;
    font-style: italic;
    text-align: center;
    font-family: "Droid Sans";
}

.secondHeaderCap {
    color: skyblue;
    font-style: italic;
    font-family: "Droid Sans";
    text-align: center;
}
 .photoBox {
     text-align: center;
 }

.facts {
    color: skyblue;
    text-align: center;
    font-family: "Droid Sans";

}

 body {
     background-image: url("images/abstract1b.png");
 }

 ul{
     color: aliceblue;
     list-style-position: inside;
 }

 ul:hover {
     color: cyan;
     list-style-position: inside;
     text-align: center;
 }